@model IEnumerable<MyStore.Models.Sale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="table" class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SaleIdentifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paid)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaleIdentifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript" on-content-loaded="true">
    $(document).ready(function () {
        $('#table').DataTable({
            "scrollX": false,
            "responsive": true,
            "language": {
                url: "/lib/DataTables/i18n/pt-PT.json"
            },
            "columnDefs": [
                { "targets": 0, "visible": true, "searchable": true },
                { "targets": 1, "visible": true, "searchable": false },
                { "targets": 2, "visible": true, "searchable": false },
                { "targets": 3, "visible": true, "searchable": true },
                { "targets": 5, "visible": true, "searchable": true },
                { "targets": 5, "orderable": false }
            ]
        });
    });
    </script>
}